body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 97%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.name-inputs {
    display: flex;
    gap: 10px;
}

.name-inputs input {
    flex: 1;
}

.name-inputs div {
    display: flex;
    flex-direction: column;
}

.star-rating {
    display: flex;
    gap: 5px;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 24px;
    color: #ddd;
    cursor: pointer;
}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #EEAC82;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 8px;
    text-align: center;
}

th {
    background: #f1f1f1;
    font-weight: bold;
}

input[type="radio"] {
    margin: 0;
}

textarea {
    height: 100px;
}

button {
    margin-right:7px;
    padding: 10px 15px;
    background-color: #0D6EFD;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0b5ed7;
}
.label-highlight {
    color:#FF314F
  }
  .text-area
  {
    padding-right:0px;
  }
  input[type="text"]::placeholder {
    color: #999;
    text-align: right;
    padding-right: 5px;
  }
  .input-label {
    margin-top: 5px;
    font-size: 14px;
    color: #999;
    font-weight: normal;
}